*{
  /* background: rgb(236, 236, 236); */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nav-link{
  cursor: pointer;
}
#signin h1 , #signup h1{
  position: relative;
  text-align: center;
}
#signin h1::after , #signup h1::after{
  content: '';
  position: absolute;
  width: 100px;
  background: #198754;
  height: 5px;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  transform: translate(-50% , 500%);

}

.eximg{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #dfdfdf;
}